<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
  <div class="sb-sidenav-menu">
    <div class="nav">
      <div class="sb-sidenav-menu-heading"></div>

      <a
        class="nav-link {% if 'index' in segment %} active {% endif %}"
        href="{% url 'student' %} "
      >
        <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
        Profile
      </a>
      <div>
        <a
          class="nav-link {% if 'charts' in segment %} active {% endif %}"
          href="{% url 'stprofile' %}"
        >
          <div class="sb-nav-link-icon"><i class="fas fa-smile"></i></div>
          My Details
        </a>
      </div>

      <div>
        <a
          class="nav-link {% if 'charts' in segment %} active {% endif %}"
          href="{% url 'attendance_report' %}"
        >
          <div class="sb-nav-link-icon"><i class="fas fa-file"></i></div>
          Attendence Reports
        </a>
      </div>
    </div>
  </div>
</nav>
