
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <p class="navbar-brand ps-3"> {{ request.user.username }}</p>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    
    <div class="navbar-brand ps-3"> <p>Welcome To Your Profile:{{ request.user.first_name }}
        {{ request.user.last_name }}
    </p></div>

      
        <div class="input-group"></div>
        <div class="navbar-nav ms-auto ms-md-0 me-3 me-lg-3"><a class="btn btn-info" href="{% url 'passwordchange' %}">ChangePassword</a> </div>

        <div class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4"><a class="btn btn-danger" href="{% url 'logout' %}">Logout</a></li> </div>


    <!-- Navbar-->
  
</nav>