
{% extends "Teacher/main.html" %}


{% block title %} Teacher Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<main>
    <div class="container-fluid px-4">

        <div class="card">
          {% for tp in tprofiles %}
            <div class="card-header">
              <strong> {{ tp.first_name }} {{ tp.last_name }}</strong>
            </div>
            <div class="card-body">
              <p class="card-text">    
               <strong>Id: </strong> {{ tp.id }}</p>
              
               <p class="card-text">
                <strong>Joined Date:</strong> {{ tp.date_joined }}</p>
               
                <p class="card-text">
               <strong>Email: </strong> {{ tp.email }}</p>
              
               <p class="card-text">
                <strong>User Name:</strong> {{ tp.username }}</p>

                
               <p class="card-text">
                <strong>Faculty:</strong> {{ tp.faculty }}</p>
                
               <p class="card-text">
                <strong>Semester:</strong> {{ tp.semester }}</p>
                
               <p class="card-text">
                <strong>Gender:</strong> {{ tp.gender }}</p>
                
               <p class="card-text">
                <strong>Phone No:</strong> {{ tp.phone }}</p>
                
               <p class="card-text">
                <strong>Address:</strong> {{ tp.address }}</p>
            </div>
            {% endfor %}
          </div>
          </br>

    </div>
</main>



{% endblock content %}
