
{% extends 'Admin/admain.html' %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Students Attendences 
                </div>
                <div class="card-body">
                    <table id="datatablesSimple"  class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>User Id</th>
                                <th>Name</th>
                                <th>Faculty</th>
                                <th>Semester</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Roll No</th>
                                <th>Status</th>
                                <th>Gender</th>
                            </tr>
                        </thead>
                     
                          
                        <tfoot>
                       
                            <tr>
                                <th>Id</th>
                                <th>User Id</th>
                                <th>Name</th>
                                <th>Faculty</th>
                                <th>Semester</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Roll No</th>
                                <th>Status</th>
                                <th>Gender</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for d in data %}

                            <tr>
                                <td>{{ d.id}}  </td>
                                <td>{{d.user_id}} </td>
                                <td>{{ d.first_name }} {{ d.last_name }}</td>
                                <td>{{ d.faculty}}  </td>
                                <td>{{ d.sem}}  </td>
                                <td>{{ d.date}}  </td>
                                <td>{{ d.time}}  </td>
                                <td>{{ d.roll_num}}  </td>
                                <td>{{ d.ststus}}  </td>
                                <td>{{ d.gender}}  </td>
                              
                          </tr>
                          {% endfor %} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/static/assets/demo/chart-area-demo.js"></script>
    <script src="/static/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/static/assets/js/datatables-simple-demo.js"></script>

{% endblock javascripts %}


