{% extends 'Admin/admain.html' %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<main>
  <br />
  {% if messages %} {% for message in messages %}
  <div class="alert alert-secondary alert-dismissible fade show" role="alert">
    {{ message }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %} {% endif %}
  <br />

  <div class="container-fluid px-4">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Admins DataTable
      </div>
      <div class="card-body">
        <table id="datatablesSimple" class="table table-hover">
          <thead>
            <tr>
              <th>S.N</th>
              {% comment %}
              <th>Id</th>
              {% endcomment %}
              <th>Joined Date</th>
              <th>Name</th>
              <th>Email</th>
              <th>username</th>
              <th>Staff</th>
              <th>is_active</th>
              <th>Last Login</th>
            </tr>
          </thead>

          <tfoot>
            <tr>
              <td>S.N</td>
              {% comment %}
              <th>Id</th>
              {% endcomment %}
              <th>Joined Date</th>
              <th>Name</th>
              <th>Email</th>
              <th>username</th>
              <th>Staff</th>
              <th>is_active</th>
              <th>Last Login</th>
            </tr>
          </tfoot>

          <tbody>
            {% for admin in admins %}
            <tr>
              <td>{{forloop.counter}}</td>
              {% comment %}
              <td>{{ admin.id}}</td>
              {% endcomment %}
              <td>{{ admin.date_joined}}</td>
              <td>{{ admin.first_name }} {{ admin.last_name }}</td>
              <td>{{ admin.email }}</td>
              <td>{{ admin.username}}</td>
              <td>{{ admin.is_staff}}</td>
              <td>{{ admin.is_active}}</td>
              <td>{{ admin.last_login}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
  crossorigin="anonymous"
></script>
<script src="/static/assets/demo/chart-area-demo.js"></script>
<script src="/static/assets/demo/chart-bar-demo.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
  crossorigin="anonymous"
></script>
<script src="/static/assets/js/datatables-simple-demo.js"></script>

{% endblock javascripts %}
