
{% extends 'Admin/admain.html' %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">

            <div class="card">
                <div class="card-header">
                  <strong>{{ Teachers_record.first_name }} {{ Teachers_record.last_name }}</strong>
                </div>
                <div class="card-body">
                  <p class="card-text">    
                   <strong>Id: </strong>{{ Teachers_record.id }}</p>
                  
                   <p class="card-text">
                    <strong>Joined Date:</strong>{{ Teachers_record.date_joined }}</p>
                   
                    <p class="card-text">
                   <strong>Email: </strong> {{ Teachers_record.email }}</p>
                  
                   <p class="card-text">
                    <strong>User Name:</strong>{{ Teachers_record.username }}</p>

                    <p class="card-text">
                    <strong>Faculty:</strong>{{ Teachers_record.faculty }}</p>

                    <p class="card-text">
                    <strong>Semester:</strong>{{ Teachers_record.semester }}</p>
                    <p class="card-text">
                    <strong>Dob:</strong>{{ Teachers_record.dob }}</p>
                    <p class="card-text">
                    <strong>Gender:</strong>{{ Teachers_record.gender }}</p>
                    <p class="card-text">
                    <strong>Phone:</strong>{{ Teachers_record.phone }}</p>
                    <p class="card-text">
                    <strong>Address:</strong>{{ Teachers_record.address }}</p>
                </div>
              </div>
              </br>
              <a href= "{% url 'teacherdata' %}" class =" btn btn-secondary ">Back</a>
              <a href= "{% url 'tearecordDelete' Teachers_record.id  %}" class =" btn btn-danger ">Delete</a>
              <a href= "{% url 'updateteacher' Teachers_record.id  %}" class =" btn btn-success ">Update</a>

        </div>
    
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/static/assets/demo/chart-area-demo.js"></script>
    <script src="/static/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/static/assets/js/datatables-simple-demo.js"></script>

{% endblock javascripts %}


