{% extends 'Admin/admain.html' %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<main>
  <br />

  <br />
  <div class="container-fluid px-4">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Teacher's Attendences
      </div>
      <div class="card-body">
        <table id="datatablesSimple" class="table table-hover">
          <thead>
            <tr>
              <th>UserName</th>
              <th>Name</th>
              <th>Faculty</th>
              <th>Semester</th>
              <th>Date</th>
              <th>Time</th>
              <th>Status</th>
              <th>Gender</th>
              <th>UserType</th>
              <th>Roll</th>
            </tr>
          </thead>

          <tfoot>
            <tr>
              <th>UserName</th>
              <th>Name</th>
              <th>Faculty</th>
              <th>Semester</th>
              <th>Date</th>
              <th>Time</th>
              <th>Status</th>
              <th>Gender</th>
              <th>user Type</th>
              <th>Roll</th>
            </tr>
          </tfoot>
          <tbody>
            {% for at in Attendences %}
            <tr>
              <td>
                <a href="{% url 'Recordattendance' at.username %}">
                  {{ at.username }}
                </a>
              </td>
              <td>{{ at.first_name }} {{ at.last_name }}</td>
              <td>{{ at.faculty}}</td>
              <td>{{ at.sem}}</td>
              <td>{{ at.date}}</td>
              <td>{{ at.time}}</td>
              <td>{{ at.ststus}}</td>
              <td>{{ at.gender}}</td>
              <td>{{ at.usertype}}</td>
              <td>{{ at.roll_num}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
  crossorigin="anonymous"
></script>
<script src="/static/assets/demo/chart-area-demo.js"></script>
<script src="/static/assets/demo/chart-bar-demo.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
  crossorigin="anonymous"
></script>
<script src="/static/assets/js/datatables-simple-demo.js"></script>

{% endblock javascripts %}
