
{% extends 'Admin/admain.html' %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

</br>
</br>

<div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 contents">

            <form method="POST">
                {% csrf_token %} {{ form.as_p }}
      
                <input type="submit" value="Submit" class="btn btn-success" />
                <a href= "{% url 'adminpage'  %}" class =" btn btn-danger ">Cancel</a>

              </form>

        </div>
    </div>
</div>
</div>

{% endblock content %}


