{% block title %}Change Password {% endblock title %}
{% block content %}

 <div class="row">
 <h3>  </h3>
 
  </div>
  <div class="col-sm-9 offset-sm-1">
    <form action="" method="post" novalidate class="">
      {% csrf_token %}
       {% for fm in form %} 
       <div class= "form-grop">
          {{fm.label_tag}} {{fm}} <small class= "text-danger">{{fm.errors|striptags}}</small> <br>
       </div>
       {% endfor %}   
  <input type="submit" class="btn btn-primary mt-4" value="save">
  <br>

     {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
       <p class = "alert alert-danger my-3">{{error}}</p>
      {% endfor %}
    {% endif %}
 </form>

  </div>
 </div>
</div>
{% endblock %}
<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
rel="stylesheet"
integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
crossorigin="anonymous">
